HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/account/.gitignore
/account/src/main/java/dev/danvega/account/AccountApplication.java
/account/src/test/java/dev/danvega/account/AccountApplicationTests.java
/account/src/main/resources/application.properties
/account/gradle/wrapper/gradle-wrapper.jar
/account/gradle/wrapper/gradle-wrapper.properties
/account/gradlew
/account/gradlew.bat
/account/settings.gradle
/account/gradle/wrapper/gradle-wrapper.jar
/account/gradle/wrapper/gradle-wrapper.jar
